@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    background-image: url(./images/bg-desktop.svg);
    /* padding:2rem; */
    background-color: hsl(257, 40%, 49%);
    height:100vh;
}
.main-section{
    /* border: 2px solid red; */
    margin-top: 2.23rem;
    display: flex;
    /* align-items: center; */
    justify-content:space-evenly;
    color:white;
}
.content{
    /* border: 2px solid black; */
    padding:2rem;
}
.para{
    margin-top: 2rem;
}
.btn{
    margin-top: 2rem;
    /* border: 2px solid red; */
    
}
.btn button{
    font-size: 1.5rem;
    border-radius: 50px;
    overflow: hidden;
    /* border:2px solid orange; */
    width:200px;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.5);
    cursor: pointer;
    padding:0.2rem;
    color:hsl(300, 69%, 71%);
    transition:all 0.4s ease;
    outline: none;
}
.social-links{
    /* border: 2px solid red; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    text-align: right;
    /* padding: 2rem; */
}
.social-links i{
    padding:1rem;
    margin-right:20px;
    font-size: 2rem;
    /* border: 1px solid white; */
    box-shadow: 0 0 20px 0px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}
.fa-facebook{
    /* border-radius: 10%; */
    /* color: white; */
    /* line-height: 20px; */
}
.btn button:hover, i:hover{
    background-color:orangered;
    color:white;
}
@media only screen and (max-width:1500px){
    .container{
        display:flex;
        flex-direction: column;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100vw;
        /* border: 2px solid red; */
        height:100vh;
    }
    .social-links{
        /* border: 2px solid red; */
        /* margin-bottom: 2rem; */
        /* text-align: centerd; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding:0.2rem; */
        margin-right: 220px;
        /* border:2px solid red; */
        

    }
    .social-links i{
        font-size: 15px;
        text-align: center;
        padding:1rem;
        text-align: left;
        /* border: 2px solid red; */
        /* margin-left: 20px; */
    }
}